<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ static_dir }}/style.css" />
  </head>
  <body class="footer">
    <table>
      <tr>
        <td></td>
        <td>
          Page <span class="page"></span> of <span class="topage"></span>
        </td>
        <td>
          {% if word_count %}
            Total Words: {{ word_count }}
          {% endif %}
        </td>
      </tr>
    </table>
    <script type="text/javascript" src="{{ internal_static_dir }}/context.js"></script>
  </body>
</html>
