body.cover {
  margin: 0 auto;
  text-align: center;

  & h1 {
    padding-top: 400px;
    font-size: 48px;
  }

  & h3 {
    font-size: 36px;
  }

  & h4 {
    font-size: 18px;
  }
}

body, html {
  line-height: 1.5;
  font-size: 12px;
}
